* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Crimson Text', serif; }

/*body{
    background: url(../images/ordenador.jpg) no-repeat fixed;
} */
.navHeader {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #D3D3D3;
  position: fixed;
  width: 100%;
  /*     margin-left: 200px;
    margin-right: 200px; */ }

a {
  font-family: 'Merriweather', serif;
  text-decoration: none; }

.navHeader-Hijo:hover {
  background: #B1A7A6;
  transform: scale(2.2); }
  .navHeader-Hijo:hover a:hover {
    color: white; }

h1 {
  text-align: center;
  padding-top: 50px;
  background-color: #F5F3F4;
  padding-bottom: 50px;
  /*     margin-left: 500px;
    margin-right: 500px; */ }

p {
  font-family: 'Quicksand', sans-serif; }

.menuContainerHijo1__img {
  max-width: 500px;
  border-radius: 75%; }

.menuContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: left;
  /*     margin-left: 200px;
    margin-right: 200px; */
  background: #B1A7A6; }
  .menuContainer .menuContainerHijo1 {
    width: 45%; }
  .menuContainer .menuContainerHijo2 {
    width: 25%;
    padding-bottom: 100px;
    padding-right: 100px;
    font-size: 3vh; }

h3 {
  font-family: 'Quicksand', sans-serif; }

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #D3D3D3;
  /*     margin-left: 200px;
    margin-right: 200px; */ }

.menuSobreMi {
  background-color: #B1A7A6;
  display: flex;
  flex-direction: column;
  /*     margin-right: 200px;
    margin-left: 200px; */
  align-items: center;
  font-size: 3vh; }
  .menuSobreMi .menuSobreMiHijo1__img {
    height: 500px;
    padding-top: 100px; }
  .menuSobreMi .menuSobreMi__parrafo {
    padding-bottom: 100px;
    text-align: center; }

.menuLenguajes {
  background: #B1A7A6; }
  .menuLenguajes .menuLenguajes__parrafo {
    font-size: 3vh;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px; }
  .menuLenguajes .menuLenguajes__iconos {
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    word-spacing: 300px;
    padding-bottom: 50px; }

H4 {
  text-align: center;
  font-size: 30px;
  padding-top: 10px; }

footer {
  background: #d3d3d3; }

.navFooter__menu {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 50px;
  font-size: 30px; }
  .navFooter__menu .navFooter__item {
    width: 100px; }

.icon__footer {
  color: black; }

.icon__footer:hover {
  transform: scale(2.2);
  color: #F5F3F4; }

.iconos1 {
  animation: colorhtml 3s infinite; }

.iconos2 {
  animation: colorcss 3s infinite; }

.iconos3 {
  animation: colorboots 3s infinite; }

.iconos5 {
  animation: colorgit 3s infinite; }

.iconos6 {
  animation: colorgithub 3s infinite; }

.iconos7 {
  animation: colorpython 3s infinite; }

.iconos4 {
  animation: colorsass 3s infinite; }

@keyframes colorhtml {
  0% { }
  50% {
    color: orangered;
    transform: scale(2.2); }
  100% { } }

@keyframes colorcss {
  0% { }
  50% {
    color: blue;
    transform: scale(2.2); }
  100% { } }

@keyframes colorboots {
  0% { }
  50% {
    color: #8210f3;
    transform: scale(2.2); }
  100% { } }

@keyframes colorgit {
  0% { }
  50% {
    color: #e94e31;
    transform: scale(2.2); }
  100% { } }

@keyframes colorgithub {
  0% { }
  50% {
    color: #1b1e23;
    transform: scale(2.2); }
  100% { } }

@keyframes colorpython {
  0% { }
  50% {
    color: #376c99;
    transform: scale(2.2); }
  100% { } }

@keyframes colorsass {
  0% { }
  50% {
    color: #c76494;
    transform: scale(2.2); }
  100% { } }

/* @media screen and (max-width: 400px){
    h1{
        padding: 0;
        margin: 0;
    }
    .navHeader{
        margin: 0;
        padding: 0;
        width: 0;
        display: flex;
        justify-content: center;
        position: inherit;
    }
    .menuContainer{
        margin: 0;
        padding: 0;
        display: flex;
        width: 0;
    }
} */
@media screen and (max-width: 400px) {
  body {
    margin-left: 0;
    margin-right: 0; }
  h1 {
    text-align: center;
    padding-top: 50px; }
  .navHeader {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: 'Merriweather', serif; }
    .navHeader a {
      text-decoration: none; }
  .menuContainer {
    background-color: #B1A7A6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: left; }
    .menuContainer .menuContainerHijo1 {
      padding-top: 100px;
      width: 100%; }
    .menuContainer .menuContainerHijo2 {
      padding-top: 50px;
      padding: 0; }
  .menuContainerHijo1__img {
    width: 100%;
    border-radius: 75%; }
  .menuSobreMi {
    background-color: #B1A7A6;
    text-align: center; }
    .menuSobreMi img {
      width: 100%; }
  p {
    font-family: 'Merriweather', serif; }
  h2 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px; }
  h4 {
    font-size: 30px;
    text-align: center; }
  .menuLenguajes {
    background-color: #B1A7A6; }
    .menuLenguajes .menuLenguajes__parrafo {
      font-size: 20px;
      font-family: 'Merriweather', serif; }
    .menuLenguajes .menuLenguajes__iconos {
      font-size: 40px;
      display: flex;
      justify-content: space-around;
      text-align: center; } }

@media screen and (min-width: 400px) and (max-width: 1000px) {
  .menuContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .menuContainer img {
      width: 100%; } }

/* @media screen and (min-width: 1500px){
    .navHeader{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: #D3D3D3;
        margin-left: 200px;
        margin-right: 200px;
    }
    nav{
        position: fixed;
        width: 100%;
    }
    
    a{
        font-family: 'Merriweather', serif;
        text-decoration: none;
    }
    
    
    h1{
        text-align: center;
        padding-top: 50px;
        background-color: #F5F3F4;
        padding-bottom: 50px;
        margin-left: 500px;
        margin-right: 500px;
    }
    p{
        font-family: 'Quicksand', sans-serif;
    }
    .menuContainerHijo1__img{
        max-width: 500px;
        border-radius: 75%;
    }
    
    .menuContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 100px;
        text-align: left;
        margin-left: 200px;
        margin-right: 200px;
        background: #B1A7A6;
        .menuContainerHijo1{
            width: 45%;
        }
        .menuContainerHijo2{
            width: 25%;
            padding-bottom: 100px;
            padding-right: 100px;
        }
    }
    h3{
        font-family: 'Quicksand', sans-serif;
    }
    
    
    h2{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #D3D3D3;
        ;
        margin-left: 200px;
        margin-right: 200px;
    }
    .menuSobreMi{
        background-color: #B1A7A6;
        display: flex;
        flex-direction: column;
        margin-right: 200px;
        margin-left: 200px;
        align-items: center;
        font-size: 3vh;
    
        .menuSobreMiHijo1__img{
            height: 500px;
            padding-top: 100px;
        }
    }
    .menuLenguajes{
        margin-left: 200px;
        margin-right: 200px;
        .iconos{
            
        }
    }
} */
